<!DOCTYPE html>
<html>
  <head>
    <title>Animals - <%= animal.name %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <main>
      <h1><%= animal.name %></h1>
      <p><%= animal.species %></p> 
      <a href="/animals" title="Back to index">Back</a>
    </main>
  </body>
</html>
