<!doctype html>
<html>
  <head>
    <title>New Animal</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>New Animal</h1>
    <form method="POST" action="/animals/new">
      <label for="name"><input type="text" name="name" id="name" placeholder="Enter name..." /><br />
      <label for="species"><input type="text" name="species" id="species" placeholder="Enter species..." />
      <button type="submit">Add Animal</button>
    </form>
  </body>
</html>
